<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="zhcm_ws_marcacion_emp">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpTransport authenticationScheme="Basic" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://172.20.0.10:8000/sap/bc/srt/rfc/sap/zhcm_ws_marcacion_emp/300/zhcm_ws_marcacion_emp/zhcm_ws_marcacion_emp"
					  binding="customBinding" bindingConfiguration="zhcm_ws_marcacion_emp" contract="marcacion_1.ZHCM_WS_MARCACION_EMP" name="zhcm_ws_marcacion_emp" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
